@font-face {
	font-family: 'Roboto-regular';
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-regular';
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-bold';
	src: url('../fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-light';
	src: url('../fonts/Roboto-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaWeb-md-bt';
	src: url('../fonts/FuturaMediumBT.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaWeb-md';
	src: url('../fonts/FutuMd.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaWeb-md-It';
	src: url('../fonts/FutuMdIt.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'FuturaWeb-book';
    src: url('../fonts/FTN45__W.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaWeb-bold';
    src: url('../fonts/FTN85__W.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'futura-lt-book';
    src: url('../fonts/FuturaLT.woff');
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helvetica-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body{
    font-size: 1em;
    font-family: "FuturaWeb-md";
}
/*TEXT*/
.text-blue{
    color: #005CA9;
}
.text-grafite{
    color: #3A4859;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
label{
    font-family: "futura-lt-book";
    color:#3A4859;
}
.bold{
    font-weight: bold;
}
h4.title{
    font-family: "FuturaWeb-book";
    font-size: 1.8em;
}
p{
    font-family: "futura-lt-book";
}
.subtitulo{
    font-size: 1.1em;
    color: #8FB5BC;
}
.input-block{
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
input.input-text {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc; 
    box-shadow: none;
    font-family: "FuturaWeb-book";
    font-size: 18px !important;
    padding: 0 10px 0 10px !important;
}
input.input-text:hover,input.input-text:focus{
   outline: none;
}
input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
    margin-right: 1em;
}
.header{
    width: 100%;
    height: 64px;
    background-color: #005CA9;
    display: flex;
} 
.header .logo{
    float:left;
    margin:18px 10px;
    padding:1px 25px;
    border-right:solid #8FB5BC 2px;
 } 
 .header .logo img{
    width: 90px;
    height:auto;
 } 
 .header .title-header h1{
    float:left;
    color:#fff;
    font-size:23px;
    padding:20px;   
 } 
.sidebar{
    height: 100%;
    background: #fff;
    float: left;
    width: 50px;    
}
.sidebar.full{
    width: 250px;
}
.main{
    height: 100%;
    background: #F6F9F9;
    float: left;
    width: calc(100% - 250px);
}
.main.full{
    width: calc(100% - 50px);
}
.container{
    margin-top: 2em;
    margin-bottom: 2em;
    min-height: 250px;
}
ul.menu{
    list-style: none; 
    color: #005CA9;
    list-style: none;
    color: #005CA9;
    margin: 0;
    padding: 0;
}
ul.menu li{
    border-bottom: 2px solid #EFF4F5;
    padding: 10px;
    width: 100%;
}
ul.menu li.has-sub-menu.active{
    background: #EFF4F5;
}
ul.menu li.has-sub-menu.active .show-text{
    color: #005CA9;
}
.menu .icon-menu{
    width: 30px;
    display: inline-block;
    font-size: 18px;
    text-align: center;
}
.menu .icon-sub-menu{
    float: right;

}
.sub-menu{
    display: none;
}
.has-sub-menu.active .sub-menu{
    display: block;
}
ul.list-sub-menu{
    list-style: none;
    color:#2E484D;
    padding-left: 0;
    background: #EFF4F5;
}
container {
    position: relative;
    display: block;
}

.white-box{
    background: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-align: center;
    padding: 2em;
    margin-bottom: 2em;
}
.white-box .img-card{
    padding: 1em 0;
}

.card-link-blue{
    border-left: 10px solid #005CA9;
    text-align: left;
}
.card-link-green{
    border-left: 10px solid #54BBAB;
    text-align: left;
}
.card-link-guava{
    border-left: 10px solid #EF755D;
    text-align: left;
}
.card-link-orange{
    border-left: 10px solid #F39200;
    text-align: left;
}
.card-link-yellow{
    border-left: 10px solid #FFD933;
    text-align: left;
}
.card-link-purple{
    border-left: 10px solid #C492B3;
    text-align: left;
}
.box-collapse .btn-collapse{
    float: right;
    font-weight: bold;
    font-size: 1.5em;
    margin: 1em;
}
.box-table{
    padding: 2em;
}
table.indicadores{
    width: 100%;
}
table.indicadores th{
    font-weight: bold;
}
table.indicadores tbody tr{
    border-top: 2px solid #e9ecef;
}
table.indicadores th:first-child,
table.indicadores td:first-child{
    text-align: left;
}
table.indicadores th:last-child,
table.indicadores td:last-child{
    text-align: right;
}
footer{
    display: inline-block;
    width: 100%;
    background: #005ca9;
    padding: 2em;
    color: #fff;
    font-family: "FuturaWeb-book";
    font-size: 18px;
}
footer .footer-bottom .list-footer-bottom{
    list-style: none;
    font-family: "FuturaWeb-book";
    font-size: 1.5rem;
    display: inline-block;
    margin: .7rem;
}
footer .item-list-footer-bottom{
    float: left;
    padding: 0 1rem;
    
}
footer h5{
    font-size: 1.5em;
}
.container-carrossel{
    width: 100%;
    height: 250px;
}

/*botoes*/

.btn{
    height: 42px;
    min-width: 120px;
}
.btn.btn-blue-border{
    border: 1px solid #005ca9;
    color: #005ca9;
    font-weight: bold;
    background: transparent;    
}
.btn.btn-blue-border:hover{
    font-weight: bold;
    background: #00244409;    
}
.btn.btn-orange{
    border: 1px solid #F39200;
    color: #fff;
    font-weight: bold;
    background: #F39200;    
}
.btn.btn-orange:hover{
    border: 1px solid #d17e01;
    background: #d17e01;    
}
.btn.btn-orange-border{
    border: 1px solid #F39200;
    color: #F39200;
    font-weight: bold;
    background: transparent;    
}
.btn.btn-orange-border:hover{
    font-weight: bold;
    background: #00244409;    
}
/*carrossel*/
ul.carrossel-list{
    list-style: none;
    padding-left: 0;
}
.carrossel .bullet-carrossel{
    list-style: none;
    text-align: center;
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
}
.carrossel .bullet-carrossel li.item-bullet{
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}
.carrossel .bullet-carrossel li.item-bullet .circle-bullet{
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: #2E484D;
    margin: 5px;
}
.carrossel .bullet-carrossel li.item-bullet.active .circle-bullet{
    background: #005ca9;
}
.carrossel .bullet-carrossel li.item-bullet .circle-bullet:hover{
    background: #005ca9;
}
.item-carrossel .conteudo-item{
    float: left;
    width: 40%;
    text-align: left;
    padding: 10px;
}
.item-carrossel{
    display: none;
}
.item-carrossel.active{
    display: block;
}
.item-carrossel .conteudo-item .title{
    font-family: "FuturaWeb-bold";
    font-size: 2em;
}
.item-carrossel .conteudo-item .description{
    font-family: "FuturaWeb-book";
    font-size: 1.2em;
}
.item-carrossel .image-item{
    float: left;
    width: 60%;
    padding: 10px;
    
}
.item-carrossel .image-item .img-carrossel{
    width: 100%;
}
/* Table */
table.table{
    background: #fff;
    border: 1px solid #AFCACF;
    color: #637A97;
    text-align: center;
}
table.table .text-left{
   text-align: left; 
}

.table thead.table-blue{
    background: #0077DB;
    border: 1px solid #AFCACF;
    color: #fff;
    text-align: left;
    font-size: 1.2em;
}
.table thead.table-green{
    background: #00B273;
    border: 1px solid #AFCACF;
    color: #fff;
    text-align: left;
    font-size: 1.2em;
}
.table thead.table-guava{
    background: #EF755D;
    border: 1px solid #AFCACF;
    color: #fff;
    text-align: left;
    font-size: 1.2em;
}
.table thead.table-yellow{
    background: #FFD933;
    border: 1px solid #AFCACF;
    color: #637A97;
    text-align: left;
    font-size: 1.2em;
}
.table thead.table-orange{
    background: #F39200;
    border: 1px solid #AFCACF;
    color: #fff;
    text-align: left;
    font-size: 1.2em;
}
.table thead.table-purple{
    background: #C492B3;
    border: 1px solid #AFCACF;
    color: #fff;
    text-align: left;
    font-size: 1.2em;
}
table.table tr,table.table th,table.table td{
    border: 1px solid #AFCACF;
    vertical-align: middle;
}

/*Painel*/
.painel-indice {
    overflow: hidden;
    position: relative;
    padding: 8px 0 4px 0;    
    background: #002442;
    width: 100%;
    height: 100px;
    white-space: nowrap;
  }
  .painel{
    display: inline-block;
  }
 .painel-indice .item-painel-indice{
        padding: 10px;
        margin: 0px 10px;
        display: inline-block;
        position: relative;
        left: 100%;
        height: 40px;
        justify-content: space-between;
    }
    .painel-indice .item-painel-indice:first-child{
    margin-left: 20px;
    }
    .painel-indice .item-painel-indice p{
        color: #fff;
        font-size: 18px;
        margin-bottom: 0.2em;
    }
    .painel-indice .item-painel-indice p.porcentagem-item{
        color: #fff;
        font-size: 16px;
        font-weight: 900;
    }
    .painel-indice .item-painel-indice p.porcentagem-item.positivo,
    .painel-indice .item-painel-indice p.valor-item.positivo i{
        color: #13C828;
    }
    .painel-indice .item-painel-indice p.porcentagem-item.negativo,
    .painel-indice .item-painel-indice p.valor-item.negativo i{
        color: #F50000;
    }
    

.painel-indice .item-painel-indice{
    animation: marquee 30s linear infinite ;
  }
.painel-indice:hover .item-painel-indice {
    animation-play-state: paused;
  }
    
  @keyframes marquee {
    0% { left: 100%;}     
   25% { left: 50%;}
   50% { left: 0%;}
   75% { left: -50%;}
   100% { left:-100%;}
 }


  /*Collapse*/
  .box-collapse .text-collapse{
    width: 90%; 
    height: 50px;
    overflow: hidden;
    display: inline-block;
  }
  .box-collapse .text-collapse p:not(:first-child){
    display: none;
  }
  .box-collapse .text-collapse p{
    white-space: nowrap;     
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  .box-collapse.expand .text-collapse{
    height: auto;
    overflow: hidden;
  }
  .box-collapse.expand .text-collapse p:not(:first-child){
    display: block;
  }
  .box-collapse.expand .text-collapse p{
    white-space: normal;
    overflow: auto;
  }

 